* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general layout */
.container {
  display: flex;
  background-color: hsl(0, 0%, 8%);
}

.card {
  margin: 0 auto;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  padding: 90px;
  /* height: 100%; */
  margin-top: 10px;
}

.user-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-name {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}

.user-location {
  /* color: hsl(75, 94%, 57%); */
  color: palevioletred;

  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}

.user-occupation {
  color: hsl(0, 0%, 100%);

  font-size: 14px;
  margin-top: 10px;
}

.user-media {
  padding: 10px 50px;
  border-radius: 5px;
  max-width: 100%;
  background-color: hsl(0, 0%, 20%);
  margin-top: 16px;
}

.user-media a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

/* footer */
.attribution {
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  /* color: hsl(75, 94%, 57%); */
  color: palevioletred;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}
